<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <label for="user_name">Name</label>
  <input type="text" id="user_name" name="user[name]"></input>

  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]"></input>

  <label for="user_pwd">Password</label>
  <input type="text" id="user_pwd" name="user[password]"></input>
  <input type="submit"> Sign Up </input>
</form>
